<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <ion-card-content>
          <p>{{ photo.filepath }}</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="mostrarFotos()">
      <ion-icon name="document-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
